body {
      color: #114e60;
      background-color: #F4EEE8;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

li {
      float: left;
      width: 200px;
    }
    
li a {
      color: #325288;
      font-size: large;
      font-variant: normal;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      display: block;
      text-align: center;
      padding: 16px;
      text-decoration: none;
}
    
li a:hover {
      background-color: #F5CEBE;
}
::backdrop{
      color: violet;
}

ul
{
      list-style-type: none;
      text-align: center;
      display: flex;
      justify-content: center;
}
.titlebar
{
      text-align: center;
      height: 100px;
}
h1{
      text-align: center;
}